* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
 
#main {
    width: 100%;
    height: 100%;
    background: rgb(202,238,202);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pannel {
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background: #fff;
}
 
#ptop {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    color: #fff;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #164142;
}

.elem {
    display: flex;
    align-items: center;
    gap: 10px;
} 

.elem h3 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.box {
    color: #035658;
    font-weight: 450;
    font-size: 14px;
    padding: 0px 10px;
    background: #fff;
    border-radius: 5px;
}

#pbtm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    width: 100%;
    height: calc(100%-100px);
}
  
.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #035658;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.bubble:hover {
    background: #16b7ba;
    cursor: pointer;
}

.game-end {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    text-align: center;
}

#game-over-heading {
    font-size: 26px;
    font-weight: 550;
}

#game-score, #game-last-hitrn {
    font-size: 14px;
}

#start-new {
    padding: 10px 20px;
    background-color: #035658;
    color: #ffff;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 0.3px;
    font-size: 13px;
    display: none;
    margin-top: 40px;
}

#start-new:hover {
    background-color: #096769;
}

@media screen and (max-width: 990px) {
    #pannel {
        width: 90%;
        height: 95%;
    }

    #ptop {
        justify-content: space-between;
        padding: 0 5%;
        height: 70px;
    }
}

@media screen and (max-width: 650px) {
    #pannel {
        width: 90%;
        height: 92%;
    }

    #ptop {
        height: 72px;
    }

    .elem h3, .box {
        font-size: 14px;
    }

    .bubble {
        width: 38px;
        height: 38px;
    }
}

@media screen and (max-width: 480px)  {
    #pannel {
        width: 90%;
        height: 95%;
    }

    #ptop {
        height: 68px;
    }

    .elem,  #pbtm  {
        gap: 5px;
    }

    .elem h3, .box  {
        font-size: 12px;
    }

    .bubble {
        width: 35px;
        height: 35px;  
        font-size: 12px; 
    }

    #game-over-heading {
        width: 300px;
        font-size: 16px;
    }
    #game-score, #game-last-hitrn {
        font-size: 12px;
    }
}